In [1]:
!pwd

/Users/tung.dao/tung/mlopsvn/code/mlops-crash-course-code/monitoring_service/nbs

In [2]:
import pandas as pd
import fastparquet
from pathlib import Path
import numpy as np

random_seed = 17
np.random.seed(random_seed)

## Load data

In [22]:
OUTSIDE_DATA_DIR = Path("../data")
ORIG_DATA_PATH = OUTSIDE_DATA_DIR / "orig_driver_stats.parquet"
MOCK_DATA_PATH = OUTSIDE_DATA_DIR / "mock_driver_stats.parquet"
if not ORIG_DATA_PATH.is_file():
    raise Exception(f"{ORIG_DATA_PATH} not found")
if not MOCK_DATA_PATH.is_file():
    raise Exception(f"{MOCK_DATA_PATH} not found")

In [23]:
orig_df = pd.read_parquet(ORIG_DATA_PATH, engine='fastparquet')
orig_df

,datetime,driver_id,conv_rate,acc_rate,avg_daily_trips,created
0,2021-07-13 11:00:00+00:00,1005,0.373837,0.154890,498,2021-07-28 11:08:04.802
1,2021-07-13 12:00:00+00:00,1005,0.571627,0.643958,656,2021-07-28 11:08:04.802
2,2021-07-13 13:00:00+00:00,1005,0.399909,0.993888,722,2021-07-28 11:08:04.802
3,2021-07-13 14:00:00+00:00,1005,0.967468,0.788458,424,2021-07-28 11:08:04.802
4,2021-07-13 15:00:00+00:00,1005,0.024679,0.956064,569,2021-07-28 11:08:04.802
...,...,...,...,...,...,...
1802,2021-07-28 09:00:00+00:00,1001,0.089418,0.311234,485,2021-07-28 11:08:04.802
1803,2021-07-28 10:00:00+00:00,1001,0.222534,0.927691,114,2021-07-28 11:08:04.802
1804,2021-04-12 07:00:00+00:00,1001,0.175219,0.761434,385,2021-07-28 11:08:04.802
902,2021-07-20 23:00:00+00:00,1003,0.025968,0.109748,55,2021-07-28 11:08:04.802
902,2021-07-20 23:00:00+00:00,1003,0.025968,0.109748,55,2021-07-28 11:08:04.802

In [40]:
mock_df = pd.read_parquet(MOCK_DATA_PATH, engine='fastparquet')
mock_df['datetime'] = mock_df['event_timestamp']
mock_df

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,datetime
0,2021-07-19 23:00:00,1003,0.562670,0.711753,817,2021-07-19 23:00:00
1,2021-07-18 06:00:00,1005,0.747795,0.729159,664,2021-07-18 06:00:00
2,2021-07-28 09:00:00,1003,0.577423,0.600396,800,2021-07-28 09:00:00
3,2021-07-27 10:00:00,1002,0.676030,0.587644,820,2021-07-27 10:00:00
4,2021-07-23 05:00:00,1001,0.867539,0.571839,754,2021-07-23 05:00:00
...,...,...,...,...,...,...
95,2021-07-20 09:00:00,1004,0.784332,0.550629,741,2021-07-20 09:00:00
96,2021-07-23 14:00:00,1001,0.682082,0.600372,752,2021-07-23 14:00:00
97,2021-07-24 12:00:00,1004,0.732227,0.874406,841,2021-07-24 12:00:00
98,2021-07-27 17:00:00,1003,0.768284,0.835585,769,2021-07-27 17:00:00
99,2021-07-23 00:00:00,1003,0.656339,0.745030,631,2021-07-23 00:00:00

In [26]:
orig_df.describe()

         driver_id    conv_rate     acc_rate  avg_daily_trips
count  1807.000000  1807.000000  1807.000000      1807.000000
mean   1003.000000     0.488267     0.505205       500.871057
std       1.413822     0.291862     0.291230       293.412315
min    1001.000000     0.000482     0.000542         0.000000
25%    1002.000000     0.238879     0.251682       236.000000
50%    1003.000000     0.491606     0.507843       506.000000
75%    1004.000000     0.732576     0.770225       754.000000
max    1005.000000     0.998767     0.999445       998.000000

In [27]:
mock_df.describe()

         driver_id   conv_rate    acc_rate  avg_daily_trips
count   100.000000  100.000000  100.000000       100.000000
mean   1002.760000    0.731518    0.701609       751.450000
std       1.341791    0.090697    0.095636        78.185402
min    1001.000000    0.500000    0.500000       500.000000
25%    1001.750000    0.674897    0.627561       698.000000
50%    1003.000000    0.728371    0.688873       749.000000
75%    1004.000000    0.786183    0.771097       796.250000
max    1005.000000    0.995000    0.995000       994.000000

## Check data quality

In [50]:
import dataclasses
from typing import Dict, List, Optional

from evidently.pipeline.column_mapping import ColumnMapping
from evidently.model_monitoring import ModelMonitoring
from evidently.model_monitoring import CatTargetDriftMonitor
from evidently.model_monitoring import ClassificationPerformanceMonitor
from evidently.model_monitoring import DataDriftMonitor
from evidently.model_monitoring import DataQualityMonitor
from evidently.model_monitoring import NumTargetDriftMonitor
from evidently.model_monitoring import ProbClassificationPerformanceMonitor
from evidently.model_monitoring import RegressionPerformanceMonitor

from evidently.dashboard import Dashboard
from evidently.dashboard.tabs import DataDriftTab, CatTargetDriftTab

from evidently.model_profile import Profile
from evidently.model_profile.sections import DataDriftProfileSection, CatTargetDriftProfileSection

@dataclasses.dataclass
class LoadedDataset:
    name: str
    references: pd.DataFrame
    monitors: List[str]
    column_mapping: ColumnMapping

EVIDENTLY_MONITORS_MAPPING = {
    "cat_target_drift": CatTargetDriftMonitor,
    "data_drift": DataDriftMonitor,
    "data_quality": DataQualityMonitor,
    "num_target_drift": NumTargetDriftMonitor,
    "regression_performance": RegressionPerformanceMonitor,
    "classification_performance": ClassificationPerformanceMonitor,
    "prob_classification_performance": ProbClassificationPerformanceMonitor,
}

In [55]:
numerical_features = ["conv_rate", "acc_rate", "avg_daily_trips"]
categorical_features = []
target = "trip_completed"
column_mapping = ColumnMapping(
    target=target,
    numerical_features=numerical_features,
    categorical_features=categorical_features,
    datetime='datetime'
)
references = orig_df
current_data = mock_df

column_mapping

ColumnMapping(target='trip_completed', prediction='prediction', datetime='datetime', id=None, numerical_features=['conv_rate', 'acc_rate', 'avg_daily_trips'], categorical_features=[], datetime_features=None, target_names=None, task=None, pos_label=1)

In [56]:
monitors = ["data_drift", "classification_performance", "cat_target_drift"]
monitoring = ModelMonitoring(
    monitors=[EVIDENTLY_MONITORS_MAPPING[k]() for k in monitors],
    options=[],
)
monitoring.execute(references, current_data, column_mapping)
for metric, value, labels in monitoring.metrics():
    report = f"{metric.name} | {value} | {labels}"
    print(report)

data_drift:share_drifted_features | 1.0 | None
data_drift:n_drifted_features | 3 | None
data_drift:dataset_drift | True | None
data_drift:p_value | 0.7746270563557061 | {'feature': 'acc_rate', 'feature_type': 'num'}
data_drift:p_value | 0.9090495641010653 | {'feature': 'avg_daily_trips', 'feature_type': 'num'}
data_drift:p_value | 0.8911643440142998 | {'feature': 'conv_rate', 'feature_type': 'num'}
cat_target_drift:count | 1807 | {'dataset': 'prediction'}
cat_target_drift:count | 100 | {'dataset': 'current'}

In [52]:
bcancer_data_and_target_drift_dashboard = Dashboard(tabs=[DataDriftTab(verbose_level=0), CatTargetDriftTab(verbose_level=0)])
bcancer_data_and_target_drift_dashboard.calculate(references, current_data, column_mapping=column_mapping)
# bcancer_data_and_target_drift_dashboard.show()
bcancer_data_and_target_drift_dashboard.save('data_and_target_drift.html')

In [54]:
bcancer_target_and_data_drift_profile = Profile(sections=[DataDriftProfileSection(), CatTargetDriftProfileSection()])
bcancer_target_and_data_drift_profile.calculate(references, current_data, column_mapping=column_mapping)
bcancer_target_and_data_drift_profile.json()

'{"data_drift": {"name": "data_drift", "datetime": "2022-09-26 18:21:53.403915", "data": {"utility_columns": {"date": "datetime", "id": null, "target": null, "prediction": null}, "cat_feature_names": [], "num_feature_names": ["acc_rate", "avg_daily_trips", "conv_rate"], "datetime_feature_names": ["created"], "target_names": null, "options": {"confidence": null, "drift_share": 0.5, "nbinsx": 10, "xbins": null}, "metrics": {"n_features": 3, "n_drifted_features": 3, "share_drifted_features": 1.0, "dataset_drift": true, "acc_rate": {"current_small_hist": [[0.6060606060606062, 1.8181818181818188, 4.848484848484839, 3.030303030303038, 3.0303030303030245, 4.646464646464648, 1.0101010101010104, 0.6060606060606062, 0.20202020202020207, 0.40404040404040414], [0.5, 0.5495, 0.599, 0.6485000000000001, 0.698, 0.7475, 0.797, 0.8465, 0.896, 0.9455, 0.995]], "ref_small_hist": [[0.9639796949027413, 1.0027604872264149, 1.0526215059282804, 0.9473593553354527, 0.9584395817136451, 0.9861401476591257, 1.013840713604608, 0.9307390157681636, 1.09694241144105, 1.0581616191173777], [0.000542030727956444, 0.10043230592855253, 0.2003225811291486, 0.3002128563297447, 0.40010313153034077, 0.49999340673093684, 0.599883681931533, 0.699773957132129, 0.7996642323327251, 0.8995545075333212, 0.9994447827339172]], "feature_type": "num", "stattest_name": "Wasserstein distance (normed)", "drift_score": 0.7746270563557061, "drift_detected": true}, "avg_daily_trips": {"current_small_hist": [[0.00020242914979757095, 0.0, 0.0016194331983805637, 0.003036437246963564, 0.0042510121457489895, 0.006072874493927128, 0.002631578947368422, 0.0014170040485829932, 0.0006072874493927142, 0.0004048582995951409], [500.0, 549.4, 598.8, 648.2, 697.6, 747.0, 796.4, 845.8, 895.2, 944.5999999999999, 994.0]], "ref_small_hist": [[0.001031393168184737, 0.0010923895383462, 0.0009315809261023432, 0.0009371260506624759, 0.0009703967980232739, 0.0009537614243428755, 0.0008983101787415445, 0.0011422956593873973, 0.0009925772962638064, 0.0010702090401056672], [0.0, 99.8, 199.6, 299.4, 399.2, 499.0, 598.8, 698.6, 798.4, 898.1999999999999, 998.0]], "feature_type": "num", "stattest_name": "Wasserstein distance (normed)", "drift_score": 0.9090495641010653, "drift_detected": true}, "conv_rate": {"current_small_hist": [[0.40404040404040414, 1.2121212121212124, 2.0202020202020163, 3.6363636363636376, 4.0404040404040416, 4.8484848484848495, 2.2222222222222228, 1.2121212121212097, 0.40404040404040503, 0.20202020202020163], [0.5, 0.5495, 0.599, 0.6485000000000001, 0.6980000000000001, 0.7475, 0.797, 0.8465, 0.8960000000000001, 0.9455, 0.9950000000000001]], "ref_small_hist": [[1.1918608413087335, 1.00338052221805, 0.881422668688784, 1.1142512981537465, 0.9091403626727086, 1.0144675998116188, 1.0754465265762527, 0.8703355910952149, 0.9424015954534175, 1.01446759981162], [0.0004819515161216259, 0.10031049991957844, 0.20013904832303525, 0.2999675967264921, 0.3997961451299489, 0.49962469353340566, 0.5994532419368626, 0.6992817903403193, 0.7991103387437761, 0.8989388871472329, 0.9987674355506897]], "feature_type": "num", "stattest_name": "Wasserstein distance (normed)", "drift_score": 0.8911643440142998, "drift_detected": true}}}}, "cat_target_drift": {"name": "cat_target_drift", "datetime": "2022-09-26 18:21:53.404016", "data": {"utility_columns": {"date": "datetime", "id": null, "target": null, "prediction": null}, "cat_feature_names": [], "num_feature_names": ["acc_rate", "avg_daily_trips", "conv_rate"], "datetime_feature_names": ["created"], "target_names": null, "metrics": {}}}, "timestamp": "2022-09-26 18:21:53.404111"}'